.page-logo{
    width: 54px;
    height: 54px;
    transform: rotate(-15deg);
    border-radius: 200% 200% 200% 200%;
    border: white 3px solid;
}


.text-style{
    font: oblique 100% cursive;
    font-weight: lighter;
    -webkit-text-stroke: 0.5px white;
    color: rgb(245, 86, 28);
    line-height: 97%
}

.text-style2{
    /* font-family: Arial; */
    font-family: Helvetica, Arial, sans-serif;
    font-size: xx-small;
    text-align: left;
    /* -webkit-text-stroke: 0.2px rgb(219, 71, 55); */
    color: white;
    /* color: transparent */
}

.margin-right{
    margin: 0.6px
}